In [2]:
import pandas as pd
import numpy as np
import seaborn as sns                       #visualisation
import matplotlib.pyplot as plt             #visualisation
%matplotlib inline

c:\Soft\Anaconda\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [49]:
df = pd.read_csv("li-ion_batteries.csv")
# To display the top 5 rows 
df.head(5)

,Cell ID,Anode,Cathode,Source,Ah,Form Factor,Temperature (C),Max SOC,Min SOC,Charge Rate (C),Discharge Rate (C)
0,CALCE_CX2-16_prism_LCO_25C_0-100_0.5-0.5C_a,graphite,LCO,calce,1.35,prismatic,25,100.0,0.0,0.5,0.5
1,CALCE_CX2-25_prism_LCO_25C_0-100_0.5-0.5C_b,graphite,LCO,calce,1.35,prismatic,25,100.0,0.0,0.5,0.5
2,CALCE_CX2-33_prism_LCO_25C_0-100_0.5-0.5C_d,graphite,LCO,calce,1.35,prismatic,25,100.0,0.0,0.5,0.5
3,CALCE_CX2-34_prism_LCO_25C_0-100_0.5-0.5C_e,graphite,LCO,calce,1.35,prismatic,25,100.0,0.0,0.5,0.5
4,CALCE_CX2-36_prism_LCO_25C_0-100_0.5-0.5C_f,graphite,LCO,calce,1.35,prismatic,25,100.0,0.0,0.5,0.5

In [50]:
df.tail(5)

,Cell ID,Anode,Cathode,Source,Ah,Form Factor,Temperature (C),Max SOC,Min SOC,Charge Rate (C),Discharge Rate (C)
132,UL-PUR_R20-EX2_18650_NCA_23C_2.5-96.5_0.5-0.5C_b,graphite,NCA,UL-PUR,3.4,18650,23,96.5,2.5,0.5,0.5
133,UL-PUR_R20-NA7_18650_NCA_23C_2.5-96.5_0.5-0.5C_g,graphite,NCA,UL-PUR,3.4,18650,23,96.5,2.5,0.5,0.5
134,UL-PUR_R20-NA8_18650_NCA_23C_2.5-96.5_0.5-0.5C_h,graphite,NCA,UL-PUR,3.4,18650,23,96.5,2.5,0.5,0.5
135,UL-PUR_R20-NA9_18650_NCA_23C_2.5-96.5_0.5-0.5C_i,graphite,NCA,UL-PUR,3.4,18650,23,96.5,2.5,0.5,0.5
136,UL-PUR_R20-OV1_18650_NCA_23C_2.5-96.5_0.5-0.5C_a,graphite,NCA,UL-PUR,3.4,18650,23,96.5,2.5,0.5,0.5

In [40]:
df.dtypes

Cell ID                object
Anode                  object
Cathode                object
Source                 object
Ah                    float64
Form Factor            object
Temperature (C)         int64
Max SOC               float64
Min SOC               float64
Charge Rate (C)       float64
Discharge Rate (C)    float64
dtype: object

In [33]:
#df['Cell ID'] = df['Cell ID'].replace('/', '-', regex = True)
# df.to_csv("li-ion_batteries.csv")

In [39]:
#df = df.drop(['Unnamed: 0.3', 'Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0'], axis=1)
#df.to_csv("li-ion_batteries.csv")

In [48]:
df = df.drop('Unnamed: 0', axis=1)
df.to_csv("li-ion_batteries.csv", index = False)

In [97]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Cycle_Index,2016.0,1.008500e+03,5.821134e+02,1.000,5.047500e+02,1.008500e+03,1.512250e+03,2.016000e+03
Start_Time,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
End_Time,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Test_Time (s),2016.0,1.649939e+07,9.229917e+06,10907.674,8.542973e+06,1.677921e+07,2.459101e+07,3.172761e+07
Min_Current (A),2016.0,-6.031895e-01,7.258767e-02,-0.675,-6.750000e-01,-5.500000e-01,-5.500000e-01,0.000000e+00
Max_Current (A),2016.0,1.227115e+00,1.230012e-01,0.000,1.207000e+00,1.244500e+00,1.268250e+00,3.879000e+00
Min_Voltage (V),2016.0,2.703217e+00,4.608502e-02,2.699,2.699000e+00,2.699000e+00,2.699000e+00,3.315000e+00
Max_Voltage (V),2016.0,4.199373e+00,2.245615e-02,3.221,4.200000e+00,4.200000e+00,4.200000e+00,4.216000e+00
Charge_Capacity (Ah),2016.0,1.061041e+00,1.529236e-01,0.000,9.730000e-01,1.058000e+00,1.183000e+00,1.470000e+00
Discharge_Capacity (Ah),2016.0,1.069140e+00,2.955629e-01,0.000,9.730000e-01,1.060000e+00,1.185000e+00,1.249700e+01
Charge_Energy (Wh),2016.0,4.264741e+00,6.001928e-01,0.000,3.923000e+00,4.254500e+00,4.742000e+00,5.919000e+00
Discharge_Energy (Wh),2016.0,3.931576e+00,1.193093e+00,0.000,3.527750e+00,3.906500e+00,4.405000e+00,5.032200e+01

In [13]:
df.shape

(137, 12)

In [ ]:
#df.StratificationCategoryId1.unique()

In [ ]:
#df..value_counts()