In [1]:
import pandas as pd
import numpy as np
import seaborn as sns                       #visualisation
import matplotlib.pyplot as plt             #visualisation
%matplotlib inline

c:\Soft\Anaconda\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [35]:
df = pd.read_csv("./Li-ion_Batteries/CALCE_CX2-16_prism_LCO_25C_0-100_0.5-0.5C_a_cycle_data.csv")
# To display the top 5 rows 
df.head(5)

,Cycle_Index,Start_Time,End_Time,Test_Time (s),Min_Current (A),Max_Current (A),Min_Voltage (V),Max_Voltage (V),Charge_Capacity (Ah),Discharge_Capacity (Ah),Charge_Energy (Wh),Discharge_Energy (Wh)
0,1.0,NaN,NaN,10907.674,-0.550,0.905,2.699,4.201,0.108,1.268,0.455,4.717
1,2.0,NaN,NaN,28594.592,-0.550,1.275,2.699,4.200,1.268,1.269,5.073,4.725
2,3.0,NaN,NaN,46275.123,-0.551,1.293,2.699,4.200,1.268,1.269,5.071,4.730
3,4.0,NaN,NaN,63919.436,-0.551,1.273,2.699,4.200,1.269,1.269,5.076,4.727
4,5.0,NaN,NaN,81579.524,-0.550,1.281,2.699,4.212,1.268,1.268,5.072,4.724

In [36]:
df.tail(5)

,Cycle_Index,Start_Time,End_Time,Test_Time (s),Min_Current (A),Max_Current (A),Min_Voltage (V),Max_Voltage (V),Charge_Capacity (Ah),Discharge_Capacity (Ah),Charge_Energy (Wh),Discharge_Energy (Wh)
2011,2012.0,NaN,NaN,3.167216e+07,-0.675,1.300,2.699,4.200,0.865,0.876,3.515,3.123
2012,2013.0,NaN,NaN,3.168665e+07,-0.675,1.300,2.699,4.199,0.887,0.877,3.601,3.128
2013,2014.0,NaN,NaN,3.170035e+07,-0.675,1.269,2.699,4.200,0.849,0.833,3.449,2.957
2014,2015.0,NaN,NaN,3.171395e+07,-0.675,1.278,2.699,4.200,0.828,0.827,3.366,2.936
2015,2016.0,NaN,NaN,3.172761e+07,-0.675,1.310,2.699,4.200,0.829,0.828,3.374,2.941

In [4]:
df['Cycle_Index'].iloc[-1]

2016.0

In [15]:
np.convolve(df['Charge_Capacity (Ah)'].iloc[14:25], np.ones(11)/11, mode='valid')[0]

1.2460909090909091

In [19]:
row = 20
np.convolve(df['Charge_Capacity (Ah)'].iloc[row - 10:row + 10], np.ones(20)/20, mode='valid')

array([1.25425])

In [30]:
cur_cycle_time = df['Test_Time (s)'].iloc[row] - df['Test_Time (s)'].iloc[row - 1]
print(cur_cycle_time)

17513.410999999964

In [39]:
str = 'CALCE_CX2-16_prism_LCO_25C_0-100_0.5-0.5C_a_cycle_data.csv'

In [40]:
str.replace('_cycle_data.csv', '')

'CALCE_CX2-16_prism_LCO_25C_0-100_0.5-0.5C_a'

In [ ]:
def add_to_df(df_to_add_to: pd.DataFrame, df_to_add_from: pd.DataFrame, file_name):
    df = df_to_add_from
    
    cycle_l = []
    cycle_time_l = []
    charge_capacity_l = []
    discharge_capacity_l = []
    charge_energy_l = []
    discharge_energy_l = []

    charge_capacity_change_l = []
    discharge_capacity_change_l = []
    charge_energy_change_l = []
    discharge_energy_change_l = []
    
    init_charge_capacity = df['Charge_Capacity (Ah)'].iloc[0]
    init_discharge_capacity = df['Disharge_Capacity (Ah)'].iloc[0]
    init_charge_energy = df['Charge_Energy (Wh)'].iloc[0]
    init_discharge_energy = df['Disharge_Energy (Wh)'].iloc[0]

    cycle_l.append(0)
    cycle_time_l.append(df['Test_Time (s)'].iloc[0])
    charge_capacity_l.append(init_charge_capacity)
    discharge_capacity_l.append(init_discharge_capacity)
    charge_energy_l.append(init_charge_energy)
    discharge_energy_l.append(init_discharge_energy)

    charge_capacity_change_l.append(1)
    discharge_capacity_change_l.append(1)
    charge_energy_change_l.append(1)
    discharge_energy_change_l.append(1)

    for i, row in enumerate(range(20, df['Charge_Capacity (Ah)'].iloc[-1], 20)):
        cur_cycle = row

        cur_cycle_time = df['Test_Time (s)'].iloc[row] - df['Test_Time (s)'].iloc[row - 1]

        cur_charge_capacity = np.convolve(df['Charge_Capacity (Ah)'].iloc[row - 10:row + 10], np.ones(20)/20, mode='valid')[0]
        cur_charge_capacity_change = init_charge_capacity/cur_charge_capacity

        cur_discharge_capacity = np.convolve(df['Disharge_Capacity (Ah)'].iloc[row - 10:row + 10], np.ones(20)/20, mode='valid')[0]
        cur_discharge_capacity_change = init_discharge_capacity/cur_discharge_capacity

        cur_charge_energy = np.convolve(df['Charge_Energy (Wh)'].iloc[row - 10:row + 10], np.ones(20)/20, mode='valid')[0]
        cur_charge_energy_change = init_charge_energy/cur_charge_energy

        cur_discharge_energy = np.convolve(df['Discharge_Energy (Wh)'].iloc[row - 10:row + 10], np.ones(20)/20, mode='valid')[0]
        cur_discharge_energy_change = init_discharge_energy/cur_discharge_energy

        cycle_l.append(cur_cycle)
        cycle_time_l.append(df['Test_Time (s)'].iloc[0])
        charge_capacity_l.append(cur_charge_capacity)
        discharge_capacity_l.append(cur_discharge_capacity)
        charge_energy_l.append(cur_charge_energy)
        discharge_energy_l.append(cur_discharge_energy)

        charge_capacity_change_l.append(cur_charge_capacity_change)
        discharge_capacity_change_l.append(cur_discharge_capacity_change)
        charge_energy_change_l.append(cur_charge_energy_change)
        discharge_energy_change_l.append(cur_discharge_energy_change)

    local_df = pd.DataFrame()

    local_df["Cell Id"] = np.array([file_name] * len(cycle_l))
    local_df["Cycle"] = np.array(cycle_l)
    local_df["Cycle_time"] = np.array(cycle_time_l)

    local_df["Charge_capacity"] = np.array(charge_capacity_l)
    local_df["Charge_capacity_ratio"] = np.array(charge_capacity_change_l)
    local_df["Discharge_capacity"] = np.array(discharge_capacity_l)
    local_df["Discharge_capacity_ratio"] = np.array(discharge_capacity_change_l)

    local_df["Charge_energy"] = np.array(charge_energy_l)
    local_df["Charge_energy_ratio"] = np.array(charge_energy_change_l)
    local_df["Discharge_energy"] = np.array(discharge_energy_l)
    local_df["Discharge_energy_ratio"] = np.array(discharge_energy_change_l)

    pd.concat([df_to_add_to, local_df])

In [95]:
df.dtypes

Cycle_Index                float64
Start_Time                 float64
End_Time                   float64
Test_Time (s)              float64
Min_Current (A)            float64
Max_Current (A)            float64
Min_Voltage (V)            float64
Max_Voltage (V)            float64
Charge_Capacity (Ah)       float64
Discharge_Capacity (Ah)    float64
Charge_Energy (Wh)         float64
Discharge_Energy (Wh)      float64
dtype: object

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Cycle_Index              2016 non-null   float64
 1   Start_Time               0 non-null      float64
 2   End_Time                 0 non-null      float64
 3   Test_Time (s)            2016 non-null   float64
 4   Min_Current (A)          2016 non-null   float64
 5   Max_Current (A)          2016 non-null   float64
 6   Min_Voltage (V)          2016 non-null   float64
 7   Max_Voltage (V)          2016 non-null   float64
 8   Charge_Capacity (Ah)     2016 non-null   float64
 9   Discharge_Capacity (Ah)  2016 non-null   float64
 10  Charge_Energy (Wh)       2016 non-null   float64
 11  Discharge_Energy (Wh)    2016 non-null   float64
dtypes: float64(12)
memory usage: 189.1 KB

In [97]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Cycle_Index,2016.0,1.008500e+03,5.821134e+02,1.000,5.047500e+02,1.008500e+03,1.512250e+03,2.016000e+03
Start_Time,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
End_Time,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Test_Time (s),2016.0,1.649939e+07,9.229917e+06,10907.674,8.542973e+06,1.677921e+07,2.459101e+07,3.172761e+07
Min_Current (A),2016.0,-6.031895e-01,7.258767e-02,-0.675,-6.750000e-01,-5.500000e-01,-5.500000e-01,0.000000e+00
Max_Current (A),2016.0,1.227115e+00,1.230012e-01,0.000,1.207000e+00,1.244500e+00,1.268250e+00,3.879000e+00
Min_Voltage (V),2016.0,2.703217e+00,4.608502e-02,2.699,2.699000e+00,2.699000e+00,2.699000e+00,3.315000e+00
Max_Voltage (V),2016.0,4.199373e+00,2.245615e-02,3.221,4.200000e+00,4.200000e+00,4.200000e+00,4.216000e+00
Charge_Capacity (Ah),2016.0,1.061041e+00,1.529236e-01,0.000,9.730000e-01,1.058000e+00,1.183000e+00,1.470000e+00
Discharge_Capacity (Ah),2016.0,1.069140e+00,2.955629e-01,0.000,9.730000e-01,1.060000e+00,1.185000e+00,1.249700e+01
Charge_Energy (Wh),2016.0,4.264741e+00,6.001928e-01,0.000,3.923000e+00,4.254500e+00,4.742000e+00,5.919000e+00
Discharge_Energy (Wh),2016.0,3.931576e+00,1.193093e+00,0.000,3.527750e+00,3.906500e+00,4.405000e+00,5.032200e+01

In [98]:
df.shape

(2016, 12)

In [99]:
df.loc[df['Cycle'] == '81']

KeyError: 'Cycle'

In [ ]:
#df.StratificationCategoryId1.unique()

In [ ]:
#df..value_counts()